*{
    color: black;
    background-color: blue;
    }
    h1:hover{
        background-color: powderblue;
        transition: background-color .5s;
      }
      
      h1:hover {
        background-color: gold;
      }
